@font-face {
    font-family: "Roboto";
    src: url("https://fonts.googleapis.com/css?family=Roboto:100,400,500,700,900");
}
@font-face {
    font-family: "Raleway";
    src: url("https://fonts.googleapis.com/css?family=Raleway:400,400i,800");
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Releway";
}
h1 {
    margin: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: "Roboto";
    padding: 0;
    margin: 0;
    padding-top: 129px;
    padding-bottom: 70px;
}
body > section, body nav{
    width:1200px;
    margin:auto;
}

.full-width{
    width: 100%;
}

.nav-section {
    z-index: 1000;
    top: 0;
    background-color: white;
    position: fixed;
}

.main-nav > div:first-child {
    margin: auto;
    width: 29%;
}

.logo {
    display: flex;
}

.logo-text {
    align-self: center;
    margin-left: 55px;
    text-align: center;
}

.logo-text > span, .logo-text > h1 {
    display: block;
    text-transform: capitalize;
    font-size: 3.7rem;
}

.logo-text > h1 {
    color: orange;
    font-weight: 600;
}

.logo-text > span:last-child {
    font-weight: 500;
}

.main-nav > div:last-child {
    margin: auto;
    width: 70%;
}

.menu-wrapper {
    display: flex;
    justify-content: flex-end;
}

nav {
    display: flex;
    height: 129px;
}

    .menu > li {
        display: inline-block;
        padding: 0 30px;
        font-weight: 400;
    }

        .menu > li a {
            font-size: 2.2rem;
            font-family: Raleway;
            color: rgba(65, 60, 59, 0.8);
            text-decoration: none;
            display: block;
        }
        .menu > li i {
            text-align: center;
            font-size: 4.5rem;
            display: block;
        }
            .menu > li a:hover {
                color: #fcba50 !important;
            }
.line {
    height: 4px;
    background-color: #fcba50;
}

.orange-img {
    width: 100%;
    height: 400px;
    background-image: url('../img/orange.jpg');
}

.orange-image-text {
    display: flex;
    padding-left: 11px;
    margin: auto;
    width: 1200px;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.orange-image-text > div span {
    display: inline-block;
    font-size: 3.7rem;
    font-weight: 900;
}

.orange-image-text > div:first-child span{
    padding: 0 30px;
    line-height: 66px;
}
.orange-image-text > div:last-child span {
    line-height: 77px;
}

.orange-black {
    margin-left: 10px;
    margin-bottom: 40px;
    color: #fb9c06;
    background-color: rgba(76, 79, 79, 0.7)
}

.black-orange {
    color: #6e6d6b;
    background-color: rgba(252, 199, 89, 0.7)
}

.blog {
    font-size: 1.5rem;
    color: #000000;
    min-height: 215px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

article {
    width: 20%;
    display: inline-block;
}

article > a {
    display: block;
    text-align: right;
    font-family: "Raleway";
    font-weight: 600;
}

.link-oll-article {
    color: #ffac00;
    text-decoration: none;
}

    .link-oll-article:hover {
        color: rgba(255, 172, 0, 0.6);
    }


    .link-oll-article:focus {
        color: rgba(255, 172, 0, 0.8);
    }

.meet-the-team {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    color: #333333;
}
.container>div>.section-header{
    text-align: center;
}
.section-header {
    color: #ff9c00;
    font-size: 3.0rem;
    border-bottom: 3px solid #ff9c00;
    display: inline-block;
    font-weight: 100;
    letter-spacing: 4px;

}


.team {
    min-height: 545px;
    width: 30%;
    display: inline-block;
}
.text-center {
    text-align: center;
}

    .team > h5 {
        display: block;
        color: #fb9c06;
        font-size: 2.2rem;
        text-align: center;
    }
    .team h5 span {
        color: #6e6d6b;
    }
    .team p {
        font-size: 1.6rem;
        padding-left: 34px;
        display: block;
    }
    .team > div {
        border-radius: 150px;
        width: 300px;
        height: 300px;
        border: 8px solid #ffb540;
        overflow: hidden;
        margin: auto;
    }
    .horse-background {
        background-size: cover;
        background-image: url(../img/hoof.jpg);
        background-position-y: -100px;
    }

    .nibs-background {
        width: 100%;
        height: 100%;
        background-image: url(../img/nibs.jpg);
        background-position-x: -60px;
        transform: scale(1.1);
        background-size: cover;
    }

    .squawk-background {
        background-image: url(../img/squawk.jpg);
    }

.img-teammate {
    height: 300px;
    width: 300px;
    border-radius: 155px;
    border: 9px solid #ffb540;
}

.description-teammate {
    display: block;
}

.feedback-section {
    margin-bottom: 50px;
}

.feedback form{
    width:100%;
    min-height: 410px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.input-feedback {
    display: flex;
    flex-direction: row-reverse;
}

.input-feedback>label{
    color:#fcb544;
        font-size: 2.4rem;
        width: 130px;
    /*для класса актив fb9c06*/
    
}
.input-feedback>input:focus + label, .input-feedback>textarea:focus + label {
    color: #fb9c06;
    font-weight: 600;
}

textarea {
    resize: none;
    border-top: 2px solid #d2d0cf;
}
.input-feedback>input, .input-feedback>textarea{
    width:1070px;
    border-left: 5px solid #d2d0cf;
    background-color: #f8f7f6;
}
.feedback form > div:last-child {
    align-self: flex-end;
    padding-right: 33px;
}
.btn-submit {
    height: 45px;
    padding: 0 36px;
    border: 0;
    border-bottom: 3px solid #cc830f;
    background-color: #fb9c06;
    color: white;
    font-size: 3rem;
}

.btn-submit:active {
    border-bottom: 3px solid #8C5908;
    background-color: #C17600;
}

footer{
    text-align: center;
    color: white;
    background-color: #fb9c06;
    height: 70px;
}
footer span{
    line-height: 70px;
    font-size: 3.3rem;
}

footer {
    position: absolute;
    width: 100%;
}